html,
body {
	margin: 0;
	background: #ADD8E6;
	font-family: 'Open Sans', sans-serif;
}

#c {
	width: 100%;
	height: 100%;
	display: block;
}

#log {
	position: fixed;
	background: rgba(0, 0, 0, 0.1);
	padding: 8px 16px;
	top: 0;
	left: 0;
}

#launcher,
#loading {
	display: flex;
	flex-direction: column;
}

#loading {
	height: 100vh;
}

#loading-info {
	margin: auto auto 0;
	font-size: 40px;
}

#progress-bar {
	width: 60%;
	height: 20px;
	border: 2px solid #000;
	border-radius: 4px;
	margin: 40px auto auto;
	display: flex;
}

#bar-percentage {
	width: 0%;
	background: red;
	height: 100%;
}

#title {
	margin: 32px auto;
}

.card {
	padding: 24px 48px;
	border-radius: 4px;
	background: white;
	margin: auto auto 32px;
	border: 1px solid #C8C8C8;
}

.text-input {
	display: block;
	border: 1px solid #C8C8C8;
	background: #F5F5F5;
	border-radius: 4px;
	padding: 8px;
	margin-bottom: 8px;
}

.label {
	font-size: 14px;
	margin-top: 0;
	color: #666;
}

.or {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid gray;
	line-height: 0.1em;
	margin: 24px 0;
}

.or span {
	font-size: 16px;
	background: #fff;
	color: gray;
	padding: 0 16px;
}

.launcher-button {
	border-radius: 4px;
	border-style: none;
	background: #1BA8F1;
	color: white;
	font-size: 16px;
	padding: 6px;
	display: block;
	width: 100%;
}

#splash-page>hr {
	margin: 32px 0;
	border: 1px solid #C8C8C8;
}

#crosshair {
	width: 24px;
	height: 24px;
	margin: auto;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#crosshair:after {
	content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="24" height="24"><g stroke="%23fff"><line x1="5" y1="0" x2="5" y2="4" /><line x1="5" y1="6" x2="5" y2="10" /><line x1="0" y1="5" x2="4" y2="5" /><line x1="6" y1="5" x2="10" y2="5" /></g></svg>');
}

#menu {
	position: fixed;
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

#menu-sidebar {
	padding: 8px 0 0 0;
	text-align: center;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	width: 100%;
	background: rgba(0, 0, 0, 0.2);
	cursor: default;
}

.setting-label {
	display: inline-block;
	cursor: pointer;
	padding: 8px;
	padding-bottom: 10px;
	margin: 0 8px;
	border: none;
	background: none;
	color: white;
	font-size: 20px;
	font-weight: 300;
	outline: none;
}

.setting-label:hover {
	border-bottom: 2px solid white;
}

.setting-label[data-selected] {
	padding-bottom: 8px;
	border-bottom: 4px solid white;
}

#menu-content {
	display: flex;
	flex: 1 0 0;
	color: white;
	background: rgba(0, 0, 0, 0.3);
	flex-direction: column;
}

.setting {
	display: none;
	margin: 0 auto;
	padding: 32px 0;
	width: 600px;
	font-size: 20px;
	overflow-y: auto;
	min-height: 0;
	flex: 1 1 0;
}

.setting[data-selected] {
	display: block;
}

.setting>div {
	display: flex;
}

.setting label {
	font-weight: 300;
}

.setting select {
	float: right;
	font-size: 20px;
	background: none;
	color: white;
	border: none;
	outline: none;
	margin: auto 0 auto auto;
	cursor: pointer;
	text-align-last: right;
}

.setting option {
	background: lightgray;
	color: black;
	/*direction: rtl;*/
}

.setting hr {
	margin: 12px 0;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.setting input[type=range] {
	-webkit-appearance: none;
	height: 4px;
	float: right;
	background: #07C;
	margin: auto 0 auto auto;
	border-radius: 4px;
}

.setting input[type=range]::-webkit-slider-thumb {
	cursor: pointer;
	-webkit-appearance: none;
	height: 12px;
	width: 16px;
	border-radius: 4px;
	background: #fff;
	cursor: pointer;
	margin-top: 0;
}

.setting input[type=range]:focus {
	outline: none;
}

.setting input[type=number] {
	background: none;
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-radius: 4px;
	margin-left: 8px;
	color: #fff;
	outline: none;
	font-size: 16px;
	-moz-appearance: textfield;
	width: 48px;
	height: 24px;
	padding-left: 8px;
}

.setting input[type=number]::-webkit-outer-spin-button,
.setting input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
	
.setting h1 {
	margin: 64px 0 32px;
	font-size: 20px;
}

.setting h2 {
	margin: 0;
	font-size: 16px;
	font-weight: 300;
}

.setting input[type=text] {
	border: 1px solid rgba(255, 255, 255, 0.4);
	background: none;
	border-radius: 4px;
	color: #fff;
	outline: none;
	width: 128px;
	height: 32px;
	margin: auto 0 auto auto;
	text-align: center;
	line-height: 32px;
	font-size: 16px;
	transition: 0.2s;
	cursor: pointer;
}

.setting input[type=text]:focus {
	background: rgba(0, 0, 0, 0.2);
	border-color: #fff;
}

.setting button {
	margin: auto 0 auto 8px;
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
	border-radius: 50%;
	padding: 4px;
	width: 32px;
	height: 32px;
	transition: 0.2;
}

.setting button:hover {
	background: rgba(0, 0, 0, 0.2);
}

.setting-buttons {
	width: 600px;
	margin: auto auto;
	padding: 32px 0;
}

.setting-buttons > button {
    background: none;
    border: none;
    font-size: 20px;
    color: white;
    padding: 8px;
    margin-right: 16px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    outline: none;
}

.setting-buttons > button:hover {
	background: rgba(0, 0, 0, 0.2);
}

.clear-key {
	background: none;
	border: none;
	font-size: 20px;
	color: white;
	padding: 8px;
	margin-right: 16px;
	cursor: pointer;
	transition: 0.2s;
	border-radius: 4px;
	border: 1px solid rgba(255, 255, 255, 0.4);
	outline: none;
}

.clear-key:hover {
	background: rgba(0, 0, 0, 0.2);
}