html, body {
	margin: 0;
	background: #ADD8E6;
	font-family: sans-serif;
}

#game {
	display: none;
}

#c {
  width: 100%;
  height: 100%;
  display: block;
}

#launcher {
	display: flex;
	flex-direction: column;
	margin:auto;
}

#title {
	margin: 32px auto;
}

.card {
	padding: 24px 48px;
	border-radius: 4px;
	background: white;
	margin: auto auto 32px;
	border: 1px solid #C8C8C8;
}

.text-input {
	border: 1px solid #C8C8C8;
	background: #F5F5F5;
	border-radius: 4px;
	padding: 8px;
	margin-bottom: 8px;
}

.label {
	font-size: 14px;
	margin-top: 0;
	color: #666;
}

.or {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid gray; 
   line-height: 0.1em;
   margin: 24px 0 ; 
}

.or span {
	font-size: 16px;
	background: #fff;
	color: gray;
	padding: 0 16px; 
}

.launcher-button {
	border-radius: 4px;
	border-style: none;
	background: #1BA8F1;
	color: white;
	font-size: 16px;
	padding: 6px;
	display: block;
	width: 100%;
}

#crosshair {
	width: 24px;
	height: 24px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

#crosshair:after {
	content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="24" height="24"><g stroke="%23fff"><line x1="5" y1="0" x2="5" y2="4" /><line x1="5" y1="6" x2="5" y2="10" /><line x1="0" y1="5" x2="4" y2="5" /><line x1="6" y1="5" x2="10" y2="5" /></g></svg>');
}