html,
body {
	margin: 0;
	background: #add8e6;
	font-family: sans-serif;
}

#c {
	width: 100%;
	height: 100%;
	display: block;
}

#crosshair {
	width: 24px;
	height: 24px;
	margin: auto;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#crosshair:after {
	content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="24" height="24"><g stroke="%23fff"><line x1="5" y1="0" x2="5" y2="4" /><line x1="5" y1="6" x2="5" y2="10" /><line x1="0" y1="5" x2="4" y2="5" /><line x1="6" y1="5" x2="10" y2="5" /></g></svg>');
}
