:root {
	--white: rgba(255, 255, 255, 0.8);
	--black: #161616;
	--gray-1: #393939;
	--gray-2: #8d8d8d;
	--gray-3: #ccc;
	--gray-4: #dcdcdc;
	--gray-5: #eee;
	--gray-6: #f3f3f3;
}

html,
body {
	font-size: 14px;
}

html,
body, aside {
	height: 100%;
}

main {
	height: calc(100% - 32px);
}

#menubar {
	height: 32px;
	width: 100%;
	background: var(--black);
	display: flex;
	align-items: center;
}

.menu {
	outline: 0;
	position: relative;
	color: var(--white);
	cursor: pointer;
}

.menu .title {
	user-select: none;
	line-height: 16px;
	padding: 8px 12px;
	transition: background .11s cubic-bezier(.2,0,.38,.9);
}

.menu:hover .title, .menu:focus .title {
	background: var(--gray-1);
}

.menu:focus .options {
	display: block;
}

.options {
	display: none;
	position: absolute;
	width: 150px;
	background: var(--black);
	z-index: 1;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%);
}

.option {
	user-select: none;
	padding: 6px 12px;
	color: var(--white);
}

.option:hover {
	background: var(--gray-1);
	color: #fff;
}

.option[data-line] {
	border-bottom: 1px solid var(--gray-1);
}

main {
	display: flex;
}

aside, #viewport {
	position: relative;
}

aside {
	min-width: 4px;
	display: flex;
	flex-direction: column;
}

.tabs {
	padding: 0 4px;
	display: flex;
}

.tab {
	margin: 0;
	font-weight: 500;
	padding: 12px 8px 12px 8px;
	color: var(--secondary-text-color);
	cursor: pointer;
	user-select: none;
}

.tab[data-selected] {
	color: var(--text-color);
}

.panel section:first-child {
	padding-top: 0;
}

.panel {
	overflow-x: hidden;
	overflow-y: auto;
	flex-grow: 1;
}

.panel section {
	padding: 12px;
	border-bottom: 1px solid var(--border-color);
	display: flex;
	flex-direction: column;
}

.panel h1 {
	margin: 0;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	margin-bottom: 12px;
}

legend {
	user-select: none;
	padding: 0;
	width: 95px;
	padding-right: 6px;
	float: left;
	white-space: initial;
	overflow: hidden;
	text-overflow: ellipsis;
}

#left-sidebar legend {
	margin-right: auto;
}

select {
	border: none;
	border-bottom: 1px solid var(--border-color);
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	padding: 1px 0 1px 4px;
	appearance: none;
	background: url("../img/chevron-down.svg") no-repeat right 4px center, var(--gray-5);
	background-size: 16px;
	height: 22px;
	outline: 0;
	min-width: 120px;
}

label {
	margin: 0 8px 0 4px;
	user-select: none;
}

input {
	outline: 0;
	font-family: inherit;
}

input[type="color"], select, .file-wrapper {
	cursor: pointer;
}

#left-sidebar input[type="color"], #left-sidebar .file-wrapper {
	width: 22px;
	height: 22px;
	border: 1px solid var(--border-color);
	background-color: transparent;
	padding: 0;
}

input[type="color"], .file-wrapper {
	border: 1px solid var(--border-color);
	background-color: transparent;
	padding: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
}

input[type="file"] {
	display: none;
}

input[type="number"] {
	font-size: 13px;
	height: 22px;
	width: 54px;
	border: none;
	border-bottom: 1px solid var(--border-color);
	background: var(--gray-5);
	font-family: "IBM Plex Mono", monospace;
	-moz-appearance: textfield;
	padding-left: 4px;
}

input[type=number]::-webkit-inner-spin-button {
	display: none;
}

input[type="text"] {
	height: 22px;
	border: 1px solid var(--border-color);
	border: none;
	border-bottom: 1px solid var(--border-color);
	background: var(--gray-5);
	padding: 0 8px;
}

input[type="checkbox"] {
	position: relative;
	appearance: none;
	margin: 0;
	cursor: pointer;
}

input[type="checkbox"]:before {
	position: relative;
	display: block;
	width: 14px;
	height: 14px;
	content: "";
	border: 1px solid var(--text-color);
	border-radius: 0;
}

input[type="checkbox"]:checked:before {
	background: var(--text-color);
}

input[type="checkbox"]:after {
	position: absolute;
    top: 2px;
    left: 4px;
    width: 7px;
    height: 3px;
    margin-top: -1px;
    background: none;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: scale(0) rotate(-45deg);
    transform-origin: bottom right;
    content: "";
}

input[type="checkbox"]:checked:after {
	transform: scale(1) rotate(-45deg);
}

.file-display {
	pointer-events: none;
	width: 100%;
	height: 100%;
	background-image: url("../img/upload.svg");
	background-position: center;
	background-size: 12px;
	background-repeat: no-repeat;
}

/*scene*/

#background-color, #background-texture, #background-equirect, #environment-texture {
	display: none;
	margin-left: 8px;
}

#fog-wrapper {
	margin-bottom: 6px;
}

#linear-fog input:first-child, #exponential-fog input {
	margin-left: auto;
}

#linear-fog input:first-child {
	margin-right: 6px;
}

#linear-fog input {
	width: 57px;
	padding-left: 4px;
}

#exponential-fog input {
	width: 120px;
	padding-left: 4px;
}

#color-linear-fog, #color-exp-fog {
	margin-left: 8px;
	display: none;
}

#scene-tree {
	background: var(--gray-5);
	padding: 12px 0;
}

#scene-tree div {
	margin: 0;
	padding: 4px 0 4px 24px;
	position: relative;
	cursor: pointer;
	user-select: none;
	border: 1px dashed transparent;
}

#scene-tree .drag-into {
	border-color: var(--theme-color);
}

#scene-tree .drag-above {
	border-top-color: var(--theme-color);
}

#scene-tree .drag-below {
	border-bottom-color: var(--theme-color);
}

#scene-tree div:hover {
	background: var(--gray-4);
}

#scene-tree div[data-selected] {
	background: var(--gray-3);
}

.parent[data-opened]:before {
	transform: rotate(90deg)
}

.parent:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("../img/caret.svg");
    background-repeat: no-repeat;
    position: absolute;
    margin-left: -20px;
    top: 5px;
}

#scene-tree li {
	list-style-type: none;
	position: relative;
}

#left-sidebar .panel > div, #linear-fog, #exponential-fog {
	display: none;
}

/*inspector*/

#component-wrapper {
	position: relative;
	user-select: none;
}

#component-selector {
	margin: 0 auto;
	height: initial;
	padding: 6px 8px;
	background: url(../img/chevron-down.svg) no-repeat right 8px center, var(--gray-5);
	width: 169px;
}

#component-list {
	position: absolute;
	top: 43px;
	width: 169px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	background: var(--gray-5);
	box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
	max-height: 0;
	overflow-y: auto;
	transition: max-height .11s cubic-bezier(.2,0,.38,.9);
	z-index: 1
}

#component-list div {
	padding: 4px 0 4px 8px;
	cursor: pointer;
}

#component-list div:hover {
	background: var(--gray-4);
}

section.component {
	padding: 0;
	user-select: none;
}

.component fieldset {
	padding: 0 12px;
}

.component h1 {
	font-weight: 500;
	font-size: 14px;
	padding: 6px 0 6px 28px;
	text-transform: uppercase;
	position: relative;
	background: var(--gray-6);
	margin-bottom: 12px;
	cursor: pointer;
}

.component h1[data-opened]:before {
	transform: rotate(90deg)
}

.component h1:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("../img/caret.svg");
    background-repeat: no-repeat;
    position: absolute;
    margin-left: -20px;
    top: 7px;
}

.component h1:hover {
	background: var(--gray-5);
}

.component input[type="color"] {
	width: 60px;
	margin-right: auto;
}

/*general*/

#left-sidebar {
	border-right: 1px solid var(--border-color);
	width: 240px;
}

#right-sidebar {
	border-left: 1px solid var(--border-color);
	min-width: 300px;
}

#viewport {
	flex: 1;
}

#canvas, #player {
	width: 100%;
	height: 100%;
	outline: none;
}

#player {
	display: none;
}

#toolbar {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 32px;
}

.tool {
	padding: 5px 8px;
	border: none;
	background: #000;
	outline: none;
	cursor: pointer;
	transition: background .11s cubic-bezier(.2,0,.38,.9);
}

.tool:hover {
	background: var(--gray-1);
}

.tool[data-selected] {
	background: var(--theme-color);
}

.tool svg {
	fill: var(--white);
	pointer-events: none;
}

.tool[data-selected] svg {
	fill: #fff;
}

#toolbar img {
	width: 16px;
}
