@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&family=IBM+Plex+Mono:wght@400;500&display=swap");

:root {
	--text-color: #444;
	--secondary-text-color: #9e9e9e;
	--theme-color: #6d53dc;
	--border-color: #dadce0;
}

body {
	margin: 0;
	font-family: "IBM Plex Sans", sans-serif;
	color: var(--text-color);
	font-size: 1.2em;
}

* {
	box-sizing: border-box;
}
