:root {
	--background-color: #fff;
	--color-purple: #7e3ff2;
	--text-color: #444;
	--secondary-text-color: #99a;
}
html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: "Roboto", serif;
	color: var(--text-color);
	font-size: 1.2em;
}
